@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  background-color: #fff;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.row{
  margin: 0px;
}

.form-control {
    font-size: 15px;
    height: 45px;
    font-weight: 300;
}

.btn{
    color: #fff; 
    margin: 0 auto;
    display: block;
    padding: 6px 20px;
    margin-top: 15px;
}

video {
    margin: 0 auto;
    display: block;
}

h3.text-heading {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-bottom: 1px solid #ececec;
}